.volumeManipulator {
  width: 100%;
}
.volumeManipulator-input {
  flex-direction: row-reverse;
  display: flex;
  align-items: center;
}
.volumeManipulator-input .volumeManipulator-suffix {
  position: absolute;
  margin-right: 5%;
}
.volumeManipulator-input > input::-webkit-outer-spin-button,
.volumeManipulator-input > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.volumeManipulator-input.volumeManipulator-errorState .volumeManipulator-suffix {
  color: var(--text-danger);
}

.volumeManipulator > .volumeManipulator-input.volumeManipulator-errorState > input {
  border: 1px solid var(--text-danger);
  color: var(--text-danger);
}
.volumeManipulator > .volumeManipulator-input.volumeManipulator-errorState > input:focus,
.volumeManipulator-input.volumeManipulator-errorState input:hover {
  border: 2px solid var(--text-danger);
}
